@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&family=Raleway:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
} 

body {
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    color: #3a3a3a;
}

/* Heading and Logo*/

h1, h2 {
    font-family: 'Raleway', sans-serif;
    color: #252525;
}

#logo {
    float: left;
    font-size: 200%;
    margin-left: 20px;
}

/*navigation links*/

#menu {
    font-size: 100%;
    letter-spacing: 1px;
    float: right;
}

#menu, #logo {
    line-height: 75px;
}

#menu li {
    list-style-type: none;
    margin-right: 15px;
    float: left;
}

#menu a {
    text-decoration: none;
    color: inherit;
}

#menu a:hover {
    border-bottom: 4px solid #9c1b1b;
}

.active {
    border-bottom: 2px solid #3a3a3a;
}

/*hero image and cover text*/

#hero-outer {
    height: 700px;
    width: 100%;
    overflow: hidden;
    position: relative;
    padding: 10px;
}

#hero-image {
    height: 700px;
    width: 100%;
    background: linear-gradient(45deg, rgba(255,175,189,.5), rgba(100,216,243,.5), rgba(234,236,198,.5), rgba(245,146,176,.5), rgba(52,219,216,.5)) 0 0 / 600% no-repeat, url('../images/hero-image.jpg') 0 0 / cover no-repeat;
    animation: gradientAnimation 40s ease infinite;
    padding: 20px;
}

#cover-text, #cover-text h2 {
    color: #eff5d1;
}

/*hero gradient animation*/


@keyframes gradientAnimation {
    0%   { background-position: 0% 30%, 0 0;}
    50%  { background-position: 100% 70%, 0 0;}
    100% { background-position: 0% 30%, 0 0;}
  }

/*cover text*/

  #cover-text {
      font-size: 130%;
      font-family: 'Open Sans', sans-serif;
      letter-spacing: 1px;

      width: 400px;
      height: 150px;

      padding: 20px 0px 0px 10px;

      background-color: rgba(156, 27, 27, 0.5);

      bottom: 30px;
      left: 30px;
      position: absolute;
  }

  /* did you know ...?*/

  #did-you-know {
      height: 600px;
  }

  #right-about {
    width: 100%;
    float: right;
    overflow: auto;
    height: 500px;
  }

hr {
    border-top: 1px solid #9c1b1b;
    width: 95%;
    margin-left: 20px;
}

  .right-about-heading {
      width: 95%;
      clear: both;
      float: left;
      margin-left: 20px;
      padding-top: 20px;
      padding-bottom: 15px;
  }

  #facts {
      text-align: center;
      margin: 20px 0;
      font-size: 50px;
  }

  .right-about-heading h2 {
      text-align: left;
      padding-bottom: 7px;
      letter-spacing: 1px;
  }

  .right-about-heading h3 {
      text-align: center;
      font-size: 200%;
  }

  .right-about-heading p {
      text-align: left;
      padding-bottom: 7px;
  }
 
  #top-btn {
      position: sticky;
      bottom: 10px;
      float: right;
      background-color:rgba(85, 85, 85, .2);
      padding: 10px;
      font-size: 150%;
  }

  #top-btn:hover {
    background-color: rgba(156, 27, 27, 0.2);
  }

  /*  trailer section  */

  #video-journey {
      height: 400px;
  }
  #invitation {
      width: 100%;
      padding-top: 20px;
  }

  .journey  {
      width: 45%;
      float: left;
      text-align: left;
  }

  .journey h2 {
      text-align: center;
      padding-left: 30px;
      padding-bottom: 20px;
      padding-top: 20px;
      font-size: 170%;
  }

  .journey p {
      text-align: center;
      padding-left: 50px;
      padding-top: 30px;
      font-size: 120%;
  }

  .video {
      width: 50%;
      float: right;
  }

  iframe {
      float: right;
      width: 100%;
      padding-top: 20px;
  }
  
  /* footer */

  footer {
      height: 50px;
  }

  .social-network {
      text-align: center;
  }
  
  .social-network > li {
      display: inline;
  }

  .social-network i {
      font-size: 160%;
      margin: 1%;
      color: #9c1b1b; 
  }

  footer p {
      text-align: center;
      padding-top: 20px;
      color: inherit;
      font-family: 'Raleway', sans-serif;
    
  }


  /* Media queries */

  /* For large to medium screens size from 1024px wide and down */
 @media screen and (max-width: 1200px) {

  #video-journey {
        width: 100%;
        height: 1200;
        margin: 0 auto;
        padding: 50px;
    }

    #invitation {
        padding: 0;
        margin: 0;
    }

    #video {
        width: 65%;
        float: right;
        padding: 0;
    }
    footer {
        padding-top: 50px;
        margin: 0;
    }
  } 
